{% extends 'base.html' %}
{% block 'body' %}
<div class="container">
{% load widget_tweaks %}
   <h1>order Pizza</h1>
    <h2>{{ note }}</h2>
    {% if created_pizza_pk %}
    <a href="{% url 'edit' created_pizza_pk %}">Edit</a>
    {% endif %}
    <form action="{% url 'order' %}" method="post" >
    {% csrf_token %}
    {% for field in pizzaform %}
    <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    {% render_field field class="form-control" %}
        <br><br>
    </div>
        {% endfor %}


    <input type="submit" value="Order Pizza">
</form>

<br>
<h2>Want More Pizza......</h2>
<form  action="{% url 'pizzas' %}" method="get">
    {{ multiple_pizza_form }}
    <br>
    <input type="submit" value="order pizzas">
</form>
    </div>
{% endblock%}

